# Jupyter Notebook
.ipynb_checkpoints/
#*.ipynb

# Jupyter Lab
.lab/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Virtual Environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook configuration
.jupyter/

# IPython
.ipython/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

data/