# jupyter-lsp
jupyterlab
jupyterlab-lsp
# python-lsp-server
# notebook
# jupyter-server-proxy
ipywidgets
vtk
trame
trame-vtk
trame-client
trame-server
trame-vuetify
trame-jupyter-extension
pyvista
numpy
pandas
h5py
trimesh
pytest
pytest-mock